

.loginContainer{
    display: flex;
    flex-direction: row;
    /* justify-content:flex-start; */
    width: 100%;
    height: 100%;
}

.img_container{
    height: 100vh;
    width: 10%;
    display: flex ;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}


.img_waitline{
    position: relative;
    height: 40vh;
    width: auto;
    bottom: 5%;
}


.text{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
    font-size: 30px;
    color: rgb(54, 54, 88);
    padding: 0px 40px;
    position: relative;
    bottom: 15%;
    left: 2%;
}


.formContainer{
    z-index: 5;
    flex: 2;
    width: 100%;
    height: auto;
    display: inline-block;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding-bottom: 25vh; */
    padding-bottom: 2vh;
    background-color: rgba(20, 179, 94, 0.999);
    color: rgb(253, 253, 253);
}

.title{
    height: 20%;
    display: block;
    padding: 5% 0;
    margin-bottom: 3%;
}

.userContainer{
    text-align: center;
}

.ImgContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.userImg{
    display: block;
    background-color: azure;
    color: rgb(111, 114, 113);
    padding: 10px 10px;
    border-radius: 50%;
    height: 85px;
    width: 90px;
    font-size: 45PX;
    cursor: pointer;
}

#admin{
    display: none;
}

#user{
    display: block;
}

.adminuser{
    display: flex;
    justify-content: center;
}

.adminuser button{
    padding: 0 5px;
    padding-top: 5px;
    width: 50px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.708);
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
}

.adminuser > .adminusertxt{
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
}

#admin_set{
    display: none;
    position: relative;
    bottom: 145px;
    left: 95%;
    cursor: pointer;
    font-size: 20px;
}

.h2Container{
    /* padding: 15px 30%; */
    text-align: center;
}

.h2{
    font-size:1.9rem;
    /* margin: 15px 0; */
    color: rgb(237, 235, 235);
    font-weight:545 ;
    /* color: rgb(54, 54, 88) ; */
}

/* .h2.two{
    font-size: 1.5rem;
} */

#formContainer{
    height: 85%;
    width: 80%;
    display: inline-block;
    justify-content: center;
    /* background-color: brown; */
}

.formDiv{
    display : none ;
    flex: 1;
    height: 60%;
    width: 100%;
    /* display: inline-block; */
    /* border-left: 2px solid rgb(85, 186, 127); */
    padding: 20px 20px;
    text-align: center;
}

.formContent{
   width: 70%;
   height: 70%;
   display: inline-block;
   /* height: 100%; */
   flex-direction: column;
   justify-content: center ;
   align-items:center;
}

.formContent p , .formEdit p  {
    /* background-color: red; */
    color: rgb(246, 246, 246);
    display:inline-block ;
    cursor:pointer;
}

.formContent p:hover{
    color: white;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 70%;
    margin: 10vh 0 ;
    padding: 5px 20px;
    border-bottom: 3px solid rgb(237, 235, 235);
}

.input-div.one{
    margin-top: 5vh;
}

.input-div.two , 
.inputContainer.four{
    margin-bottom: 3vh;
}

/* focus of input-div */

/* .input-div.focus div .input{
    color: rgba(237, 236, 236, 0.852);
}

.input-div.focus {
    border-bottom: 3px solid rgba(237, 236, 236, 0.852);
}

.input-div.focus .i i{
    color: rgba(237, 236, 236, 0.852);
} */

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
    /* color: rgba(237, 236, 236, 0.852); */
}

/* focus of input-div */

.i,
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i , 
.icon i{
    font-size: 20px;
    color: rgb(237, 235, 235);
}

.input-div > div ,
.inputContainer > div {
    position: relative;
    height: 45px;
}

.input-div > div h5 {
    position: absolute;
    /* display: none; */
    left: 20px;
    top: 50%;
    transform: translateY(-45%);
    color: #f3f3f3;
    font-size: 18px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 130%;
    height: 100%;
    top: 1px;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0 .8rem;
    font-size: 1.2rem;
    color: rgb(237, 235, 235);
    font-weight: 600;
}


.btnDiv{
    margin-top: 25px;
    text-align: center;
    height: 20%;
}

.btn{
    display: inline-block;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #7e7d7d;
    cursor: pointer;

}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.948);
    color: rgba(122, 122, 122, 0.974)
}

.userLogin{ 
    display: block;
    padding: 5% 0;
    height: 60%;
}

.userEntry{
    /* background-color: red; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnUserEntry{
    text-align: center;
    width: 50%;
    /* background-color: aqua; */
}

.img_waitline{
    height: 40vh;
    width: auto;
}

.editAdminDiv{
    height: 60vh;
    width: 100%;
    /* display: inline-block; */
    /* border-left: 2px solid rgb(85, 186, 127); */
    padding: 20px 20px;
    text-align: center;
}

#editAdmin{
    display: none;
    /* display: inline-block; */
    text-align: center;
}

.formEContainer{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.ServContainer{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formEdit{
    width: 55%;
}

.btnNewPass{
    margin: 5px;
    font-size: 14px;
    padding: 4px 5%;
    outline: none;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.iUD{
    margin-left: 7px;
    transition: none 1s;
}

#newPass{
    /* display: none; */
    width: 100%;
}

.inputContainer{
    display: grid;
    grid-template-columns: 7% 90%;
    margin: 5vh 0 ;
    padding: 5px 20px;
    border-bottom: 3px solid rgb(237, 235, 235);
}

.inputContainer.one{
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.inputContainer.two{
    margin-top: 20px;
}


.inputContainer > div h5{
    position: absolute;
    /* display: none; */
    left: 20px;
    top: 50%;
    transform: translateY(-45%);
    color: #f3f3f3;
    font-size: 15px;
    transition: .3s;
}

.inputform{
    position: absolute;
    width: 105%;
    height: 100%;
    top: 1px;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0 .8rem;
    font-size: 1.2rem;
    color: rgb(237, 235, 235);
    font-weight: 600;
}

/* inputContainer focus */

    .inputContainer.focus div h5 {
        top: -7px;
    }

/* inputContainer focus */



@Media (max-height:680px){
    .anotherText{
        left: 100%;
    }
}

/* @media (min-height:500px){
    .formContainer{
        height: 100vh;
    }
} */

@media (min-height:860px){
    .img_container{
        width: 15%;
    }

    .img_waitline{
        width: 95%;
        height: auto;
    }
}

@media (max-width:936px) {

    /* @media (max-height:510px) {
        .img_waitline{
            width: 60%;
        }
    } */

    #waitline{
        height: 30vh;
        width: auto;
    }
}

@media (max-width:750px){

    .img_container{
        transition: all .7s;
        display: none;
    }

    .formContainer{
        height: 100vh;
    }

}

@media (max-height:500px){
    .formContainer{
        height: 200vh;
    }
}